body{
    background-color: black;
    border: 2px solid rgb(254, 254, 254);
    margin:100px auto;
    width: max-content;

}

form{
    background-image: url('https://wallpaperaccess.com/full/260192.jpg');

background-color: rgba(145, 221, 241,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
header{
    text-align: center;
    padding: 20px;
    font-size: x-large;
    border: 2px solid black;
    color: white;
    background-color: rgb(69, 149, 229);
}

label{
    display: inline-block;
width: 200px;
    font-size: large;
    text-align: left;


}

input,select{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgb(26, 25, 25);

}

input:not([    type="radio" 
]){

    width: 300px;
}
#age,#percentage{

    width: 8%;
}


.buttons{

    display: flex;
    justify-content: space-around;

}
.buttons >input{
width: 100px;
color: white;


    border: 2px solid rgb(242, 241, 241);
}

.buttons > :first-child{

    background-color: rgba(34, 145, 34, 0.904);
}

.buttons > :last-child{


    background-color: rgb(198, 18, 12);
}
.buttons > :first-child:hover{
transform: scale(1.2);
background-color: rgb(34, 145, 34);
}


.buttons > :last-child:hover{

    transform: scale(1.2);
    background-color: rgb(198, 18, 12);
    }
a{

    text-decoration: none;
}

@media (max-width: 768px) {

    body {
        background-color: rgb(255, 255, 255) ;
        border: 2px solid black;
        width: 90%;
        margin: 20px auto;
    }
    .dob>input{

        display: block;
    }
    form {
        gap: 10px;
    }

    label
    {

        margin-bottom: 10px;
    }
    header {
        font-size: large;
    }
    label:not(#acknowledge,#terms){

font-size: large;
    }

    #gender{
display: block;
 }

 input:not([    type="radio" 
 ]){
 
     width: 150px;
 }

    
}